.busqueda{
    margin-top: .5rem;
    width: 85%;
    padding: 0.3rem;
    border: solid 0.01rem;
    border-radius: 1rem;
    background-color: transparent;
    &:focus{
        outline: none;
    }
    &:active{
        outline: none;
    }
}