.home{
    background-color: aqua;
}
.flex{
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.contador{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

.boton{
    color:aqua;;
}