.tamanio {
    width: 20rem;
    height: 25rem;
    border-radius: 1rem;
}

.colorRojo {
    background-color: #FFBFBF;
}

.colorVerde {
    background-color: #CFFFD4;
}

.lista{
    margin: 0;
    margin-top: 0.5rem;
    padding: 0;
}