.tareaACompletar{
    width: 20rem;
    height: 25rem;
    background-color: #FFBFBF;
    border-radius: 1rem;

}
.tareaCompletada{
    width: 20rem;
    height: 25rem;
    background-color: #CFFFD4;
    border-radius: 1rem;
}

.flex{
    margin-top: 2rem;
    display: flex;
    gap:2rem;
    justify-content: center;
}