body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFFDD7;

}

body {background-color: #e5e5f7;
  opacity: 1;
  background-image:  linear-gradient(30deg, #FFFDD7 12%, transparent 12.5%, transparent 87%, #FFFDD7 87.5%, #FFFDD7), linear-gradient(150deg, #FFFDD7 12%, transparent 12.5%, transparent 87%, #FFFDD7 87.5%, #FFFDD7), linear-gradient(30deg, #FFFDD7 12%, transparent 12.5%, transparent 87%, #FFFDD7 87.5%, #FFFDD7), linear-gradient(150deg, #FFFDD7 12%, transparent 12.5%, transparent 87%, #FFFDD7 87.5%, #FFFDD7), linear-gradient(60deg, #FFFDD777 25%, transparent 25.5%, transparent 75%, #FFFDD777 75%, #FFFDD777), linear-gradient(60deg, #FFFDD777 25%, transparent 25.5%, transparent 75%, #FFFDD777 75%, #FFFDD777);
  background-size: 8px 14px;
  background-position: 0 0, 0 0, 4px 7px, 4px 7px, 0 0, 4px 7px;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}